# ---BACKEND---
# Byte-compiled / optimized / DLL files
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

# Distribution / packaging
backend/.Python
backend/.cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
**/.env
.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

# ---FRONTEND---
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# testing
/frontend/coverage

# production
/frontend/build

# logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# ---TERRAFORM---
# Local .terraform directories
**/.terraform/*
**/.terraform.*

# .tfstate files
*.tfstate
*.tfstate.*

# ---MISC---
**/.vs
**/.vscode
**/.DS_Store
/*/.env.local
/*/.env.development.local
/*/.env.test.local
/*/.env.production.local
